<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="email_custom">
            <label>Email Custom</label>
        </tab>
        <section id="email_custom"  type="text" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Email Custom</label>
            <tab>email_custom</tab>
            <resource>Figueiredo_EmailCustom::email_config</resource>
            <group id="email_custom" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInStore="1" showInWebsite="1">
                <label>Email Custom Template</label>
                <field id="email_default" type="text" translate="label" sortOrder="1" showInWebsite="1" showInStore="1"
                       showInDefault="1" canRestore="1">
                    <label>Email Custom Default</label>
                </field>
                <field id="email_store" type="text" translate="label" sortOrder="1" showInWebsite="1" showInStore="1"
                       showInDefault="1" canRestore="1">
                    <label>Email Custom Store</label>
                </field>
                <field id="email_website" type="text" translate="label" sortOrder="1" showInWebsite="1" showInStore="1"
                       showInDefault="1" canRestore="1">
                    <label>Email Custom Website</label>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Custom Template</label>
                    <comment>template usado no email custom</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
