<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <email_custom>
            <email_custom>
                <email_default>william.figueiredo@compasso.com.br</email_default>
                <email_template>email_custom_email_custom_email_template</email_template>
            </email_custom>
        </email_custom>
    </default>
</config>
